@import "../scss/variables.scss";

.global-footer {
  background-color: $base-green-color;
  &__wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }
  &__time-table {
    background-color: #fff;
    height: 296px;
    padding: 71px 100px;
    font-size: 21px;
  }
}
