$base-green-color: rgb(41, 62, 49);
$base-orange-color: rgb(254, 131, 64);
$base-white-color: rgb(252, 249, 244);
$base-grey-color: rgb(218, 206, 194);
$font-raleway: "Raleway", sans-serif;
$txth: rgb(254, 177, 159);
$txtcol-1: #293e31;
$txtcol-2: rgb(169, 66, 43);
$transition: 0.4s ease 0s;
$museo: "Museo", sans-serif;
