* {
  box-sizing: border-box;
}

body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: Noticia Text, Helvetica, sans-serif;
}
.wrapper-page {
  padding-bottom: 137px;
  position: relative;
  min-height: 100vh;
}
