.advertisments-list {
  max-width: 450px;
  background: rgb(187, 187, 187);
  padding: 20px;
  margin: 0 auto;
  &__items {
    margin-top: 40px;
  }
}
.advertisments {
  padding: 10px;
  &__title {
    font-size: 26px;
  }
  &__description {
    margin: 10px 0;
  }
  &__note {
    margin: 10px 0;
  }
  &__avatar {
    width: 100%;
  }
}
